<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConnectSDK" type="Ingenico.Connect.Sdk.CommunicatorConfigurationSection, connect-sdk-dotnet"></section>
  </configSections>

  <ConnectSDK connectTimeout="5000" socketTimeout="30000" maxConnections="10" authorizationType="v1HMAC" integrator="Ingenico">
    <!--<apiEndpoint host="api-sandbox.globalcollect.com" scheme="https"></apiEndpoint>-->
    <apiEndpoint host="world.preprod.api-ingenico.com" scheme="https"></apiEndpoint>
    
  </ConnectSDK>
</configuration>