@{
    Layout = "";
}

<div class="row">
    <p><b>@T("Plugins.Payments.ePayments.Fields.RedirectionTip")</b></p>
    @*<div class="embed-responsive embed-responsive-1by1">

        <iframe src="@T("Plugins.Payments.ePayments.Fields.RedirectURL")" class="embed-responsive-item" name="iframe_a"></iframe>
    </div>*@

</div>
